@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    transition: .2s linear;
}

.main{
    min-height: 100%;
}

.container{
    width: 100%;
    margin: 0 auto;
    max-width: 1264px;
    padding-left: 20px;
    padding-right: 20px;
}


@import "../scss/vars";
@import "../scss/title";
@import "../scss/button";
@import "../scss/header";
@import "../scss/home/hero";
@import "../scss/home/about";
@import "../scss/home/how-it-works";
@import "../scss/home/features";
@import "../scss/home/cta";
@import "../scss/home/faq";
@import "../scss/Sobre\ a\ Kabi";


.footer{
    background: linear-gradient(90.84deg, #FFAB1A 0.72%, #E36307 99.37%);

    &__wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 56px;
    }

    &__network{
        margin-top: 32px;

        a+a{
            margin-left: 45px;
        }
    }

    &__signature{
        margin-top: 32px;
        color: #FFD89F;    
    }

    &__renove{
        margin-top: 73px;
        margin-bottom: 16px;
    }
    
}

@media(max-width:1360px){

    .cta{
        &__images{
            max-width: 819px;
            margin: 0 0;
        }
    }

    .sobre-about{
        &__images{
            margin-right:0;
        }

    }


    
}

@media(max-width:1264px){
    .container{
        width: 100%;
    }


    .header__logo {
        padding-right: 24px;
    }

    .navbar .navbar__link+.navbar__link {
        padding-left: 24px;
    }



    .content-card__content{
        min-width: 550px;
        
    }


    .cta__content{
        margin-left: 0;
        margin-right: 24px;
    }


    .commitment{
        &__images{
            margin-left: -20px;
            
        }

        &__content{
            max-width: 600px;
        }
    }
    


}


@media(max-width:1024px){
    .header .navbar{
        display: none;
    }

    .about__elipse-one,
    .about__elipse-two{
        display: none;
    }
}
