@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    transition: .2s linear;
}

.main{
    min-height: 100%;
}

.container{
    width: 100%;
    margin: 0 auto;
    max-width: 1264px;
    padding-left: 20px;
    padding-right: 20px;
}


@import "../scss/vars";
@import "../scss/title";
@import "../scss/button";
@import "../scss/header";
@import "../scss/home/hero";
@import "../scss/home/about";
@import "../scss/home/how-it-works";
@import "../scss/Sobre\ a\ Kabi";

.features__content-card{
    margin-top: 128px;
}

.content-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__images{
        max-width: 552px;
        max-height: 568px;

        &-img{
            width: 100%;
            border-radius: 24px;
        }
    }

    &:nth-child(even){
        flex-direction: row-reverse;
    }

    &:nth-child(odd){
        .content-card__content{
            margin-left: 24px;
        }
    }

    &:nth-child(even){
        .content-card__content{
            margin-right: 24px;
        }
    }

    &__content{
        width: 600px;

        &-title{
            margin-top: 8px;
        }

        &-text{
            margin-top: 16px;
        }

        &-advantages{
            margin-top: 96px;

            &-item+.content-card__content-advantages-item{
                margin-top: 24px;
            }

            &-item{
                position: relative;
                padding-left: 32px;
            }

            &-item::before{
                top: 4px;
                left: 0;
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                background: url(../img/check.svg);
            }
        }
    }

    &__button{
        margin-top: 48px;
        padding: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
    }

    &__button-line{
        margin-left: 8px;
    }
}

.cta{
    margin-top: 129px;
    
    &-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }

    &__content{
        margin-left: 55px;
        max-width: 404px;
    }

    &__subtitle{
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #FEAB21;
    }

    &__title{
        margin-top: 8px;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 42px;
        color: #121127;
    }

    &__text{
        margin-top: 16px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #4C4B63;
    }

    &__btn-item{
        margin-top: 32px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        padding: 14px 32px;
    }

    &__btn-img{
        margin-left: 8px;
    }

    &__images{
        margin: -52px -62px 0 0;
        width: 819px;
        
        &-img{
            max-width: 100%;
        }
    }
}

.faq{

    &__wrap{
        padding: 128px 0;
        display: flex;
        justify-content: space-between;
    }

    &__content{
        max-width: 392px;
        margin-right: 24px; 
    }

    &__title{
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
        color: #121127;
    }

    &__text{
        margin-top: 24px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #4C4B63;

        &-link{
            color: #4E8AF4;
        }
    }

    &__list{
        max-width: 744px;

        &-title{
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #121127;
        }

        &-text{
            margin-top: 16px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 26px;
            color: #4C4B63;
        }

        &-item+.faq__list-item{
            margin-top: 40px;
        }
    }
}

.footer{
    background: linear-gradient(90.84deg, #FFAB1A 0.72%, #E36307 99.37%);

    &__wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 56px;
    }

    &__network{
        margin-top: 32px;

        a+a{
            margin-left: 45px;
        }
    }

    &__signature{
        margin-top: 32px;
        color: #FFD89F;    
    }

    &__renove{
        margin-top: 73px;
        margin-bottom: 16px;
    }
    
}

@media(max-width:1360px){

    .cta{
        &__images{
            max-width: 819px;
            margin: 0 0;
        }
    }

    .sobre-about{
        &__images{
            margin-right:0;
        }

    }


    
}

@media(max-width:1264px){
    .container{
        width: 100%;
    }


    .header__logo {
        padding-right: 24px;
    }

    .navbar .navbar__link+.navbar__link {
        padding-left: 24px;
    }



    .content-card__content{
        min-width: 550px;
        
    }


    .cta__content{
        margin-left: 0;
        margin-right: 24px;
    }


    .commitment{
        &__images{
            margin-left: -20px;
            
        }

        &__content{
            max-width: 600px;
        }
    }
    


}


@media(max-width:1024px){
    .header .navbar{
        display: none;
    }

    .about__elipse-one,
    .about__elipse-two{
        display: none;
    }
}
