.button{
    &-down{
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        align-items: center;
        background: none;
        border-radius: 8px;
        border: 2px solid transparent;
        color:$white;

        &__line{
            margin-right: 13px;
        }

        &__text{
            color:$white;

            &_orange{
                color:$orange;
            }
        }

        &:hover{
            background-color:$orange-lightest;
        }

        &:active{
            background-color:$orange-lightest;
            border-color: $orange;
            
        }

    }

    &-white{
        background-color: transparent;
        display: flex;
        align-items: center;
        &__img{
            margin-right: 13px;
            margin-left: 5px;
        }

        &__text{
            color:$white;
        }

    }

    &-orange{
        background-color:$orange;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 32px;
        padding-right: 32px;
        border-radius: 8px;
        color:$white;

        &:hover{
            background-color:$orange-dark;
        }

        &:active{
            background-color:$orange-darkest;
        }
        
    }

    &-left{
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 32px;
        padding-right: 32px;
        display: flex;
        align-items: center;
        background: none;
        &__line{
            margin-left: 13px;
        }

        &__text{
            color:$orange;
        }

        &-orange{
            padding-top: 14px;
            padding-bottom: 14px;
            padding-left: 32px;
            padding-right: 32px;
            display: flex;
            align-items: center;
            border-radius: 8px;
            background-color:$orange;

            &__line{
                margin-left: 13px;
            }
    
            &__text{
                color:$white;
            }

            &:hover{
                background-color:$orange-dark;
            }
    
            &:active{
                background-color:$orange-darkest;
            }
        }


    }

    &-height{
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 22px;
        padding-right: 22px;
        display: flex;
        align-items: center;
        background: none;
        border-radius: 8px;
        border: 2px solid transparent;
        color:$orange;

        &:hover{
            background-color:$orange-lightest;
        }

        &:active{
            background-color:$orange-lightest;
            border-color: $orange;
            
        }

        &_orange{
            color:$white;
            background-color:$orange;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 24px;
            padding-right: 24px;
            display: flex;
            align-items: center;
            border-radius: 8px;

            &:hover{
                background-color:$orange-dark;
            }
    
            &:active{
                background-color:$orange-darkest;
            }
        }
    }

    &-card{
        background-color: transparent;
        display: flex;
        align-items: center;

        &__text{
            color:$orange;
        }

        &__img{
            margin-left: 9px;
        }

        &-big{
            display: flex;
            align-items: center;
    
            &__text{
                color:$orange;
            }
            &__img{
                margin-left: 13px;
            } 
        }
    }

}