@mixin Heading56{
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 72px;
}

@mixin Heading40{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}

@mixin Heading32{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
}

@mixin Heading16{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

@mixin Body20{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

@mixin Body18{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

@mixin Body16{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

@mixin Body14{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}

@mixin Button16{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}

@mixin Button14{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

@mixin Overline14{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
}



