.sobre-about{
    
    &__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 94px 0 88px 0;
    }

    &__content{
        width: 600px;
        margin-right: 24px;
    }

    &__subtitle{
        color: $orange;

    }

    &__title{
        margin-top: 8px;
        color:$gray1;
    }

    &__text{
        margin-top: 16px;
        color:$gray2;
    }

    &__images{
        position: relative;
        padding-top: 34px;
        padding-bottom: 46px;
        margin-right: -41px;
    }

    &__img{
        width: 100%;
        max-height: 419px;
    }

    &__elipse-one{
        position: absolute;
        top: 0;
        right: 79px;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background-color: $orange-light;
    }

    &__elipse-two{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 35px;
        height: 35px;
        border-radius: 100%;
        background-color: $orange;
    }
}

.commitment{
    min-height: 1092px;

    &__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
/* 	    padding-right: calc((100% - 1224px) / 2); */
    }

    &__images{
        margin-left: calc((1224px - 100vw) / 2);
        /* width: calc(100% - 620px - 104px); */
    }

    &__img{
        width: 100%;
        max-height: 1092px;
    }

    &__content{
        margin-left: 24px;
        width: 600px;
    }

    &__overline{
        color:$orange;
    }

    &__title{
        margin-top: 8px;
        color:$gray1;
    }

    &__text{
        margin-top: 16px;
        color:$gray2;
    }

    &__principios-title{
        margin-top: 64px;
        color:$gray1;
    }

    &__principios-subtitle{
        margin-top: 24px;
        color:$gray1;
    }

    &__principios-line{
        margin-top: 8px;
        width: 48px;
        height: 4px;
        color:$orange;
    }

    &__principios-text{
        margin-top: 14px;
        color:$gray2;
    }
}

.cat-contact{
    padding-top: 96px;
    padding-bottom: 96px;

    &__wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title{
        color:$gray1;
    }

    &__text{
        margin-top: 20px;
        color:$gray2;
    }

    &__button{
        margin-top: 20px;
        display: flex;

        &-orange{
            margin-right: 20px;
        }

    }

    
}

