.heading56{
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 72px;
}

.heading40{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}

.heading32{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
}

.heading16{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.body20{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.body18{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.body16{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.body14{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}

.button16{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}

.button14{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

.overline14{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
}