.detailed-about{
    
    &__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 95px 0 88px 0;
    }

    &__content{
        width: 600px;
        margin-right: 29px;
        margin-top: -8px;
    }

    &__subtitle{
        color: $orange;

    }

    &__title{
        margin-top: 8px;
        color:$gray1;
    }

    &__text{
        margin-top: 16px;
        color:$gray2;
    }

    &__images{
        position: relative;
        padding-top: 34px;
        padding-bottom: 46px;
        margin-right: -41px;
    }

    &__img{
        width: 100%;
        max-height: 419px;
    }

    &__elipse-one{
        position: absolute;
        top: 0;
        right: 79px;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background-color: $orange-light;
    }

    &__elipse-two{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 35px;
        height: 35px;
        border-radius: 100%;
        background-color: $orange;
    }
}